* {
  margin: 0;
  padding: 0;
}
.main-head{
  margin: 1.2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  color: #555;
  align-items: center;
}
.header-inner{
  list-style: none;
  display: flex;

}
.header-inner a{
  text-decoration: none;
  color: #555;
}
.header-inner li{
  padding: 0 1.2em;
}
.header-inner2 a{
  padding: 3px 9px;
  transition:  .5s ease;
}
.header-inner2 a:hover{
  border-radius: 3px;
  border: 1px solid rgb(50, 49, 58);
  background-color: #fff;
}
/* drop down menu */
.header ul li{
  position: relative;
  list-style: none;
}
.header ul li ul{
  position: absolute;
  top: calc(100% + .5rem);
  background-color: rgb(255, 255, 255);
  border-radius: .25rem;
  box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, .1);
  text-align: left ;
  width: 120px;
  pointer-events: none;
   opacity: 0;
  transition: all .6s ease-in-out;
}
.header ul li .dropdown{
   opacity: 1;
   pointer-events: auto;
  transform: translateY(-12px);
}
 
.header ul li ul li{
  padding: 8px;
  margin: 5px;
  transition: .5s ease;
}
.header ul li ul li:hover{
  background-color: lightgray;
  border-radius: 2px;
}
.img{
    transition: .5s ease-in-out;

}
.img.rotate{
  transform: rotate(180deg);
}



.main-body{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}
.remote{
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 500px;
  /* border: 1px solid; */
  margin: 0 30px;
}
h1{
  font-size: 4em;
  text-align: left;
  font-weight: bolder;
  margin: 40px 0;
  
}
p{
  font-size: 1.1em;
  color: rgb(34, 33, 33);
  padding-bottom: 35px;
}
.learn{
  font-size: 0.9em;
  font-family: 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  background-color: black;
  padding: 8px;
  color: #fff;
  border-radius: 4px;
}
.client{
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin-top: 8em;
  /* border: 1px solid; */
}
.client .img{
  object-fit: contain;
}
 .main-img{
   width: 500px;
   height: 500px;
   text-align: center;
   /* border: 1px solid; */
 }
 .img{
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
 }

 @media screen and (min-width:800px) {
   .container-mobile{
    display: none;
   }
}
 /* media queries for mobile layout*/
 @media screen and (max-width:800px) {
  .container-desktop{
    display: none;
  }
  *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(228, 222, 222);
}
.wrap{
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 50px;
}
.logo{
    margin: 15px 8px;
}
.menu-collapse{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    background: none;
    text-align: end;
    margin: 12px;
    cursor: pointer;
}
.side-bar{
    background-color: rgb(255, 255, 255);
    height: 0;
    overflow: hidden;
    opacity: 0.9;
    width: 100%;
    transition: .4s ease-in-out;
}
.side-bar.hide{
    height: 100%;
}
 li{
    list-style: none;
    margin-top: 0.4em 0.5em;
    padding: 0.7em 0.6em;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
 a{
    text-decoration: none;
    color: #000;
}
span{
 margin-top: 3em;
 text-align: center;
 font-size: 1em;
}
.register{
    border: 1px solid #555;
    width: 70%;
    border-radius: 5px;
    margin:0.5em auto;
}
/* dropdown */
.imgs.rotate{
  transform: rotate(-180deg);
}

.show-link{
    display: none;
}
.menus{
    width: 80%;
    margin: auto;
}
.menus li:hover{
    background-color: rgb(200, 200, 243);
    
}

.main-body{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    top: 8em;
    left: -1.5em;
    position: absolute;
    z-index: -1;
  }
  .remote{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    /* border: 1px solid; */
    margin: 0 30px;
    text-align: center;

  }
  h1{
    font-size: 4em;
    font-weight: bolder;
    margin: 40px 0;
    text-align: center;
    
  }
  p{
    font-size: 1.1em;
    color: rgb(34, 33, 33);
    padding-bottom: 35px;
  }
  .learn{
    font-size: 0.9em;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    background-color: black;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
  }
  .client{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 4em 0;
    /* border: 1px solid; */
  }
  .client .img{
    object-fit: contain;
  }
   .main-img{
     width: 100%;
     text-align: center;
     /* border: 1px solid; */
   }
   .img{
     max-width: 100%;
     /* max-height: 100%; */
     object-fit: contain;
   }
  
 }